@import '../../styles/partials';

.product-details {
  display: flex;
  max-width: 1500px;
  justify-content: center;
  padding: 20px;
  @include tablet {
    flex-direction: column;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    @include tablet {
      margin: 20px;
    }

    &--description {
      width: 400px;
      margin: 10px 0;

      @include tablet {
        width: 100%;
      }
    }

    &--select {
      width: 200px;
      height: 70px;
      padding: 10px;
    }

    &--qty {
      width: 100px;
      padding: 20px;
      text-align: center;
    }

    &--btn {
      margin: 20px 0;
      height: 70px;
      background-color: lightgray;
      border: none;
    }
  }
}
