.filter {
  display: flex;
  padding: 40px 20px;
  border-bottom: 1px solid black;

  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    width: 100%;

    &--item {
      padding: 0 20px;
      border-right: 1px solid black;
      &:last-child {
        border-right: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
