[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  color: #fff;
  font-size: 10px;
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  top: 11px;
  right: 20px;
  text-align: center;
  transform: translate(10%, -30%);
}

.right-dropdown .dropdown-menu {
  left: auto;
  right: 0;
}

.hamburger {
  cursor: pointer;
}
